
.bibliotheque-container h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: white;
}

.bibliotheque-container {
    align-items: center;
    width: 100%;
}

.search-contain{
    display: flex;
    justify-content: end;
    align-items: center;
    margin:0 225px 50px ;
    padding: 20px;
}


.search-conatain-input{
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, .25);
    color: #e7dcdc;
}

.biblio-contain{
    display: flex;
    justify-content: center;
    width: 100%;
}

.livres-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    justify-content: center;
    margin-bottom: 2rem;
}

.pagination-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}

.pagination-buttons button {
    background-color: #6e3aff;
    color: white;
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.pagination-buttons button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination-buttons span {
    font-size: 1rem;
}
